#modaldiv {

  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.btn{
	transition-duration: 0.4s; 
}

.btn:hover {

  background-color: #000000;
  color: #fbb117;
}

.card {
	background-color: #e0e6f8;
	border-radius: 5px;
	box-shadow: 2px 2px 10px black;
}

#img1 {
	width: 100%;
}

.card-title {
	text-align: center;
}